.App {
  font-family: sans-serif;
  text-align: center;
}

.box {
  height: auto;
  width: auto;
  border: 1px solid black;
  border-radius: 12px;
  background-color: aliceblue;
  display: grid;
  gap: 24px;
  padding: 24px;
  grid-template-columns: 20px auto;
}

.left {
  font-size: 48px;
  flex: 5%;
}

.item-3 {
  grid-column: 1 / span 2;
  text-align: justify;
}
